<%= @bookmarks %>
<form action="/bookmark_entry" method="post">
  <fieldset>
    <legend> Enter new bookmark </legend>
    Enter url
    <input type="text" name="url">
    Enter title
    <input type="text" name="title">
    <input type="submit" value="Submit" >
  </fieldset>
</form>
