<%= @bookmarks %>
<form action="/bookmark_entry" method="post">
  <fieldset>
    <legend> Enter new bookmark </legend>
    <input type="text" name="bookmark">
    <input type="submit" value="Submit" >
  </fieldset>
</form>
